DATABASE_URL=postgresql://postgres:Welcome%401@host.docker.internal:5432/vyon-content

# DATABASE_URL=postgresql://postgres:Welcome%401@localhost:5432/vyon-content

# Automatically seed the database on application startup if it's empty
# Set to 'true' to enable automatic seeding
AUTO_SEED=false
